@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ptsans.woff') format('woff'), url('../fonts/ptsans.woff2') format('woff2');
    src: local('PT Sans'), local('PTSans-Regular');
}
@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ptsansbold.woff') format('woff'), url('../fonts/ptsansbold.woff2') format('woff2');
    src: local('PT Sans Bold'), local('PTSans-Bold');
}
/*marker*/
* { 
      outline: 1px dashed #f0f;
  } 
body {
	font-family: 'PT Sans', 'Tahoma', sans-serif;
	margin: 0;
	padding: 0;
	margin: 0 auto;
	max-width: 1200px;
	color: #000;
	text-transform: uppercase;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	background-color: green;
}
body a {
	text-decoration: none;
}

.main-nav {
	position: relative;
	margin-bottom: 13px;
}
.main-nav ul, .social-menu ul, .search-info ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.main-nav ul {
	font-size: 0;
	margin-top: 14px;

}
.main-nav li {
	display: inline-block;
	width: 240px;
	font-size: 14px;
	text-align: center;
}
.main-nav li:nth-child(2) {
	margin-right: 240px;
}
.main-nav li:last-child a {
	padding-left: 16px;
}
.main-nav a {
	color: #000;
	font-weight: 700;
	line-height: 26px;
}
.main-nav a:hover, .info-row h1 a:hover {
	color: #81b3d2;
}
.main-nav a:active, .info-row h1 a:active {
	opacity: 0.3;
	color: #000;
}
.main-nav .current-page {
	color: #766357;
}
.site-logo {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 138px;
	height: 70px;
}
.welcome-block-image {
	background-image: url("../img/background-photo.jpg");
	background-repeat: no-repeat;
	background-position: 0 22%;
	height: 508px;
}
.welcome-block-image h1 {
	margin: 0;
	padding-top: 76px;
	text-align: center;
	margin-bottom: 23px;
}
.welcome-block-info {
	background-color: #fff;
	text-align: center;
	margin-bottom: 50px;
	
}
.welcome-block-info h2 {
	width: 450px;
	margin: 0 auto;
	margin-bottom: 27px;
	padding-top: 61px;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.welcome-block-info p {
	width: 510px;
	line-height: 26px;
	margin: 0 auto;
}
.promo-info {
	display: flex;
}
.promo-info .text-block{
	width: 400px;
	height: 256px;
	background-color: #81b3d2;
	color: #fff;
}
.promo-info h3 {
	font-size: 21px;
	font-weight: 700;
	margin: 0;
}
.promo-info .promo-img {
	width: 800px;
	height: 256px;
}
.promo-info .promo-img-1 {
	background-image: url("../img/promo-img1.jpg");
}
.promo-info .promo-img-2 {
	background-image: url("../img/promo-img2.jpg");
}
.features-block-ico {
	display: flex;
}
.features-block-info {
	display: flex;
	background-color: #eee;
}
.features-block-ico h3,
.features-block-info h3 {
	font-size: 21px;
	font-weight: 700;
}
.features-block-ico p,
.features-block-info p,
.features-block-info span,
.search-block p {
	color: #333;
}
.search-block {
	position: relative;
}
.search-block .search-form {
	position: absolute;
	background-color: #f0f;
	width: 600px;
}
.search-block h2 {
	font-size: 30px;
	font-weight: 700;
}
.search-block .search-btn {
	display: inline-block;
	text-decoration: none;
	font-size: 21px;
	font-weight: 700;
	color: #fff;
	text-align: center;
	width: 568px;
	height: 86px;
	line-height: 86px;
	background-color: #766357;
}
.search-form {
	font-weight: 700;
	line-height: 26px;
}
.search-form .btn-search {
	font-size: 21px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	width: 458px;
	height: 58px;
	line-height: 58px;
	background-color: #81b3d2;
	border: none;
}
.search-form .calendar-svg {
	fill: #c2c2c2;
}
.search-form .calendar-svg:hover {
	fill: #000;
}
.search-form .calendar-svg:active {
	fill: #81b3d2;
}
footer {
	display: flex;
}
footer section {
	flex-grow: 1;
}
footer .visitsedona {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.visitsedona a {
	color: #000;
}
.social-menu ul {
	font-size: 0px;
	text-align: center;
}
.social-menu li {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
}
.social-menu li a {
	display: inline-block;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}
.social-menu .svg-ico-social {
	position: relative;
	top: 50%;
	left: 18%;
	transform: translate(-50%, -50%);
}
.copyright span {
	line-height: 26px;
}
/* ----- FORM filter zone -----*/
.form-block-wrapper {
	background-image: url("../img/filter-background.jpg");
	background-repeat: no-repeat;
	color: #fff;
}
.form-block-wrapper input[type="checkbox"] {
	display: none;
}
.form-block-wrapper input[type="checkbox"] + label {
	position: relative;
}
.form-block-wrapper input[type="checkbox"] + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
    width: 23px;
    height: 23px;
    background: url('../img/spritesheet_checkbox.png') no-repeat -5px -5px;
}
.form-block-wrapper input[type="checkbox"]:disabled + label::before {
	content: "";
	display: block;
	position: absolute;
	top: 0;
    width: 23px;
    height: 23px;
    background: url('../img/spritesheet_checkbox.png') no-repeat -5px -38px;
}
.form-block-wrapper input[type="checkbox"]:checked + label::before {
	display: none;
}
.form-block-wrapper input[type="checkbox"]:checked + label::after {
	content: "";
	display: block;
	position: absolute;
    top: 0;
    width: 26px;
    height: 23px;
    background: url('../img/spritesheet_checkbox.png') no-repeat -5px -71px;
}
.form-block-wrapper input[type="checkbox"]:checked:disabled + label::before {
	display: none;
}
.form-block-wrapper input[type="checkbox"]:checked:disabled + label::after {
	content: "";
	display: block;
	position: absolute;
    top: 0;
    width: 26px;
    height: 23px;
    background: url('../img/spritesheet_checkbox.png') no-repeat -5px -104px;
}
.form-block-wrapper form {
	position: relative;
	display: flex;
	justify-content: space-around;
}
.form-block-wrapper fieldset {
	padding: 0;
	margin: 0;
	margin-top: 26px;
	outline: none;
	border: none;
}
.form-block-wrapper fieldset:first-child {
	margin-left: 70px;
	margin-right: 117px;
}
.form-block-wrapper fieldset:nth-child(2) {
	margin-right: auto;
}
.form-block-wrapper fieldset:last-child {
	margin-right: 60px;
}
.form-block-wrapper fieldset:first-child legend {
	padding: 2px;
}
.form-block-wrapper .structure .row-checkbox {
	margin-top: 20px;
}
.form-block-wrapper .structure .row-checkbox:last-child {
	margin-top: 25px;
}
.form-block-wrapper .row-checkbox {
	margin-top: 23px;
	margin-bottom: 10px;
	padding: 1px;
}

.row-checkbox label {
	margin-left: 40px;
}
.cost-per-day .btn-show {
    display: block;
    font:inherit;
    text-transform: uppercase;
    padding: 6px 35px;
    font-weight: 700;
    line-height: 20px;
    color: #fff;
    background: transparent;
    border: 2px solid white;
    border-radius: 2px;
    margin-left: 85px;
    cursor: pointer;
}
.cost-per-day .btn-show:hover {
    color: #000000;
    background: #ffffff;
}
.form-block-wrapper legend {
	font-size: 16px;
	font-weight: 700;

}
.form-block-wrapper .cost-per-day {
    width: 330px;
}
.cost-per-day legend {
    margin-bottom: 9px;

}
.form-block-wrapper .cost-per-day .price-range {
    position: relative;
    height: 36px;
    border: 2px solid #fff;
    border-radius: 2px;
    font-size: 0;
}
.cost-per-day .price-range:after {
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cost-per-day .price-range label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
    width: 90px;
    padding-left: 65px;
}
.form-block-wrapper .cost-per-day input {
    width: 50px;
    margin: 0;
    background: none;
    border: 0;
    font: inherit;
    color: inherit;
    padding: 0px 5px;
}
/* double-filter*/

.range-controls {
    position: relative;
    height: 35px;
    width: 320px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 15px;
}
.scale {
    margin-top: 20px;
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.bar {
    height: 2px;
    background: #fff;
}
.toggle {
    position: absolute;
    top: 11px;
    left: 30px;
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}
.toggle:hover {
    background: #1c4f80;
}
.min-toggle {
    left: 0px;
}
.max-toggle {
    left: 80%;
}
/* ---------------*/
.search-info {
	display: flex;
}

.search-info .title-found,
.search-info .result-found {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
}
.search-info span,
.search-info li a {
	font-size: 12px;
	line-height: 18px;
}

.search-info li:first-child a {
	color: #81b3d2;
}
.search-info li:nth-child(2) a,
.search-info li:last-child a {
	color: #d2d2d2;
	text-decoration: underline;
	text-decoration-style: dotted;
	text-decoration-color: #81b3d2;
}
.search-info li a:hover {
	opacity: 1;
	color: #81b3d2;
}
.search-info li a:active {
	opacity: 1;
	color: #000;
	text-decoration: none;
}
.search-info ul {
	font-size: 0;
}
.search-info li {
	display: inline-block;
}
.search-results .hotel-row {
	display: flex;
}

.search-results h1 a {
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #000;
}
.search-results .info-row-desc a {
	font-weight: 700;
	color: #fff;
}
.info-row-desc-left a {
	display: inline-block;
	padding: 0 16px;
	height: 27px;
	line-height: 27px;
	background-color: #81b3d2;
	text-align: center;
}
.info-row-desc-right a {
	display: inline-block;
	padding: 0 16px;
	height: 27px;
	line-height: 27px;
	background-color: #766357;	
	text-align: center;
}
.rating-block span {
	color: #666;
}
.map {
	background-image: url("https://dummyimage.com/1200x472/000/fff.jpg&text=map");

}


